{% extends "common.html" %}

{% block content %}
<section class="profile-section">
  <div class="profile-part">
    <div class="exp-box">
      <div class="exp-bar">
        <label for="exp">EXP</label>
        <progress id="exp" value="253" max="300"></progress>
      </div>
      <div class="level">
        <p>次のレベルまで</p>
        <h2>253</h2>
      </div>
    </div>
    <div class="avatar-box">
      <div class="avatar"></div>
      <h2> {{ current_user.username }}</h2>
    </div>
  </div>

  <button class="continue-btn" onclick="window.location.href = '/continue'">前回の続きから始める</button>

  <div class="recommended-curriculum-box">
    <div onclick="window.location.href = '/review-today'" class="curriculum-item">
      <p>今日の復習</p>
    </div>
    <div onclick="window.location.href = '/review-yesterday'"  class="curriculum-item recommended">
      <span class="recommend-label">オススメ！</span>
      <p>昨日の復習</p>
    </div>
  </div>

  <p class="curriculum-link">カリキュラムを開く</p>

</section>
<section class="stats-section">
  <div class="stats">
    <div class="stats-item">
      <p>連続勉強日数</p>
      <h2> {{ consecutive_days }} 日</h2>
    </div>
    <div class="stats-item">
      <p>解いた問題数</p>
      <h2>{{ lecture_count }} 回</h2>
    </div>
  </div>
</section>

<div class="graph-section">
  <h3>直近1週間の勉強記録</h3>
  <canvas id="studyChart" style="width: 70%; height: 100%;"></canvas>


  <!-- ラベルとデータをJSON形式でテンプレートに埋め込む -->
  <script type="application/json" id="chartLabels">{{ labels | tojson }}</script>
  <script type="application/json" id="chartData">{{ data | tojson }}</script>

  <!-- Chart.jsと外部JavaScriptファイルの読み込み -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}