{% extends "common.html" %}

{% block content %}
<section class="profile-section">
  <div class="profile-part">
    <div class="exp-box">
      <div class="exp-bar">
        <label for="exp">EXP</label>
        <progress id="exp" value="253" max="300"></progress>
      </div>
      <div class="level">
        <p>次のレベルまで</p>
        <h2>253</h2>
      </div>
    </div>
    <div class="avatar-box">
      <div class="avatar"></div>
    </div>
  </div>

</section>

<div class="graph-section">
  <h2>インタラクティブなカレンダー</h2>
  <div id="calendar"></div>

  <!-- モーダル -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h3 id="modalTitle">選択された日付</h3>
      <p id="modalDate"></p>
    </div>
  </div>


</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <!-- FullCalendarのCSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css"> <!-- カスタムスタイル用 -->
    <!-- FullCalendarのJS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/calendar.css') }}"></script> <!-- カスタムJS -/->
{% endblock %}
