/* 共通スタイル */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}


header {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: none;
  position: fixed;
  top: 0px;
  background: white;
}

.header-mini{
  width: 30%;
}

.header-large{
  width: 70%;
}

.humberger-menu{
  width: 50%;
  margin: auto;
  font-size: 32px;
}

.title {
  font-size: 38px;
  color:#00a1e1 ;
}


.tab-selecter{
    height: 12%;
    width: 100%;
    display: flex;
    position :fixed;
    bottom: 0px;
    border-top:2px solid #00a1e1 ;
  }

.tab-button{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 162, 255);
  text-align: center;
  border: none;
}

.icon{
  width: 50%;
}

.icon-label{
  font-weight: bold;
}

