.login-container {
  background-color: white;
  width: 100%;
  margin-top: 25%;
  min-height: 100vh;
}

.login-text{
  font-size: 24px;
}

.input-box{
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.input-text-box {
  display: block;
  background-color: white;
  width: 100%;
  border:2px solid #00a1e1;
  border-radius: 5px;
  height: 36px;
}

.signup-button-box {
  margin: auto;
  margin-top: 5%;
  width: 90%;
}

#login-decide-button {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: large;
  font-weight: bold;
}