/* 共通スタイル */
body {
  background: linear-gradient(to bottom right,rgb(25, 189, 218),rgb(104, 126, 253));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container-head{
  margin-bottom:none ;
  height: 20vh;
}

.flex {
  display: flex;
  flex-direction: column; /* モバイルファーストのアプローチ */
  align-items: center; /* 中央寄せ */
  text-align: center;
}

.main-page-box {
  width: 100%;
  padding: 10px; /* マージンを少し狭く調整 */
}

.long-text-box {
  width: 100%; /* レスポンシブ対応 */
  height: 20em;
  background-color: white;
  margin-bottom: 5px; /* マージンを狭く */
}

.half-box {
  width: 85%; /* モバイルでの表示幅調整 */
  margin: 5px auto; /* 上下のマージンを少し狭く */
}

.button-group {
  width: 100%;
  margin-bottom: none;      /* ボタン周りのマージン調整 */
  display: flex;
  margin-left: 75%;
}

.gpt-button{ 
  width: 9rem;
  margin-left: 1rem;
  background-color:rgba(35, 65, 187, 0.968) ;
  margin-bottom: none;
  margin-top: 5%;

}

/* index.html */

.long-text-box-label {
  font-weight: 600;
  color: white;
  display: block; /* ラベルをブロック表示に */
}

.generate-button-box {
  width: 100%;
  margin-top: 2em;
  justify-content: center; /* 水平方向に中央寄せ */
  display: flex;
}

#generate-button {
  background-color: rgb(255, 187, 0);
  border: none;
  font-weight: 700;
  width: 25%;
  padding: 10px 0; /* ボタンのパディング追加 */
  margin: auto; /* 自動マージンで水平方向に中央寄せ */
}


#loadingMessage {
  display: none;
  width: 85%; /* モバイルでの表示幅調整 */
  padding: 10px 0; /* パディング追加 */
  background-color: white;
  border-radius: 25px;
  text-align: center;
  margin: 10px auto; /* 中央寄せにマージン追加 */
}


.generating-text {
  font-weight: 700;
  font-size: large;
}

#mode-select{
  background-color: white;
  width: 20em;
}

.mode-select-box{
  text-align: center;
}





/* デスクトップ向けのスタイル調整 */
@media (min-width: 768px) {
  .flex {
    flex-direction: row; /* デスクトップでは横並び */
    justify-content: space-around; /* 要素間の間隔 */
  }

  .half-box {
    width: 35em; /* 元の幅に戻す */
  }

  .button-group {
    width: 50%;
    order: 0; /* デフォルトの順序に戻す */
  }

  #loadingMessage {
    width: 50%; /* デスクトップでは幅を調整 */
  }
}
